
/* Addition of custom fonts using @font-face */
@font-face {
    font-family: 'Manrope';
    src: url('src/assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('src/assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

/* background: linear-gradient(90deg, #E87E44 0%, #DF5B2E 100%); */ 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
}

body{
    background-color: #F9F9F9;
    margin: 0; /* Removes default margin around the body to ensure the background color covers the entire viewport */
    min-height: 100vh;
    display: flex; 
    flex-direction: column;;
}

nav{
    background-color: #FFFFFF;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px; 
}

.logo{
    height: 100%;
    display: flex;
    align-items: center; 
}

.logo svg{
    height: 40px; 
    width: auto; 
} 

.cta-button button{
    background: #DF5B2E;
    color: #FFFFFF; 
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

/* Remeber to style navigation links */

.hero {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.content h1 {
    font-size: 65px;
    color: black;
    margin-bottom: 10px;
}

.content p {
    font-size: 22px;
    color: black;
    margin-bottom: 40px;
}

/* .customer-btn {
    font-size: 18px;
    padding: 10px 20px;
    background: #DF5B2E;
    color: #FFFFFF; 
    border-radius: 5px;
    border: none;
    text-decoration: none;
    margin-bottom: 100px;
}

.business-btn {
    font-size: 18px;
    padding: 10px 20px;
    background: #DF5B2E;
    color: #FFFFFF; 
    border-radius: 5px;
    border: none;
    margin-left: 50px; 
    text-decoration: none;
} */

.hero-image {
    width: 92%; 
    margin: 100px auto 0;
    border-radius: 50px;
    overflow: hidden; /* Ensures the image is contained within the rounded corners */   
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 24px;
}

/* .mission {
    text-align : center;
    margin: 0 auto; Centers the mission section and adds vertical spacing 
    color: black;
    padding: 60px 5%; 
    background: linear-gradient(90deg, #DF5B2E 0%, #793119  100%);
}

.mission h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mission p {
    font-size: 20px; 
    width: 100%; 
    margin: 0 auto; 
    line-height: 1.6; Improves readability by increasing line spacing 
    max-width: 1100px;
} */

/* Put uvp image and uvp points side by side */

/*.UVP {
    padding: 80px 5%;
    background-color: #F9F9F9;
    text-align: center;
}

.uvp-header h2 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #000000;
    text-transform: uppercase;
}

.uvp-header .eyebrow {
    font-size: 16px;
    color: #767676;
    margin-bottom: 50px;
} */

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    font-size: 15px;
    color: #666;
    line-height: 1.3;
}

.card:hover {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

.main-content {
    flex: 1;
}

.main-footer {
    background-color: #1D0D02;
    color: #FFFFFF;
    padding: 60px 100px 30px;
}

.footer-top {
    margin-bottom: 40px;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom:20px;
}

.contact-header h3 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: normal;
}

.arrow-circle {
    width: 45px;
    height: 45px;
    background-color: #DF5B2E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color:#FFFFFF;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 15px;  
}

.social-links a {
    color: white; 
    text-decoration: none;
    display: flex; /* Helps align the SVG perfectly */
}

.social-links svg{
    width: 23px; 
    height: 23px; 
    fill: white;
    transition: fill 0.3s ease;
}

.social-links a:hover svg {
    fill: #DF5B2E; /* Changes the icon color on hover */
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333333;
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.legal-links {
    display: flex;
    gap: 20px;
}

.legal-links a {
    color: #FFFFFF;
    text-decoration: none;
}