@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --heading-font: 'Space-Grotesk';
    --alternative-font: 'Manrope'; /*400 for p, 600 navbar, 500 for h2*/
    --nav-height: 65px; 
    --primary-color: #DF5B2E;
}


body{
    background-color: #F9F9F9;
    margin: 0; /* Removes default margin around the body to ensure the background color covers the entire viewport */
    min-height: 100vh;
    display: flex; 
    flex-direction: column;;
}



.main-content {
    flex: 1;
}


/* Centers the card on the whole screen */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #DF5B2E; 
  padding: 20px;
 
}

/* The actual box container */
.role-card {
  background: #ffffff;
  max-width: 900px; 
  width: 100%;
  padding: 60px;   
  border: 1px solid #ffccbc; /* Thin orange-tinted border */
  border-radius: 40px;      
  box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, 0.3);  
  position: relative;
   
  
  
}

.back-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;

    .icon {
        fill: #000;
    }
    
}

.icon:hover {
    transform: scale(1.15);
    fill: #DF5B2E;
}

.content h3 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    
}

.content p {
    font-size: 18px;
    color: grey;
    margin-bottom: 30px;
}


/* Styling the role buttons inside */
.role-options {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.role-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.role-box:hover {
  border-color: #DF5B2E; /* Your signature orange */
  background-color: #fffaf9;
  transform: scale(1.1);
  transition: 2s;
            
}

