@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Space-Grotesk';
    --alternative-font: 'Manrope'; /*400 for p, 600 navbar, 500 for h2*/
    --nav-height: 65px; 
    --primary-color: #DF5B2E;
}

body {
    background-color: #fcfcfc;
    /* overflow: hidden; */
}

nav{
    /* background-color: #ffffff; */
    font-family: var(--alternative-font);
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    height: 75px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;


    .logo{
        height: 100%;
        display: flex;
        align-items: center; 
    }
    
    .logo svg{
        height: 30px; 
        width: auto;
        } 

    ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li a {
            font-size: 18px;
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
    }

    button {
        /* background: #DF5B2E; */
        background: #fff;
        color: black; 
        padding: 12px 24px;
        border-radius: 15px;
        font-family: var(--alternative-font);
        font-size: 15px;
        font-weight: 400;
        border: 1px solid var(--primary-color);
        font-weight: bold;
    }

    button:hover {
        background: var(--primary-color);
        color: white;
        border: 1px solid var(--primary-color);
    }
}

.hero {
    display: flex;
    height: calc(100vh - var(--nav-height));
    text-align: center;
    position:relative;
    overflow:hidden;
    align-items: center;
    width: 100%;
    /* background-color: #f9f9f9; */

    .hero-content {
        color: var(--primary-color);
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 2;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        gap: 4px;
        text-align: center;
        color: #fff;
        padding-top: 130px;

        h1{
            font-family: var(--heading-font);
            font-size: 74px;
            margin-bottom: 20px;
        }

        p {
            font-family: var(--alternative-font);
            font-size: 28px;
        }
    }

    .hero-image {
        position:absolute;
        z-index: 1;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

}