@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Space Grotesk', sans-serif;
    --alternative-font: 'Manrope', serif; /*400 for p, 600 navbar, 500 for h2*/
    --nav-height: 65px; 
    --primary-color: #DF5B2E;
}

body {
    background-color: #fcfcfc;
    /* overflow: hidden; */
}

nav{
    /* background-color: #ffffff; */
    font-family: var(--alternative-font);
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    height: 75px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fcfcfc;
    z-index: 100;


    .logo{
        height: 100%;
        display: flex;
        align-items: center; 
    }
    
    .logo svg{
        height: 30px; 
        width: auto;
        } 

    ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li a {
            font-size: 18px;
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
    }

    button {
        /* background: #DF5B2E; */
        background: #fff;
        color: black; 
        padding: 12px 24px;
        border-radius: 15px;
        font-family: var(--alternative-font);
        font-size: 15px;
        font-weight: 400;
        border: 1px solid var(--primary-color);
        font-weight: bold;
    }

    button:hover {
        background: var(--primary-color);
        color: white;
        border: 1px solid var(--primary-color);
    }
}

.hero {
    display: flex;
    height: calc(100vh - var(--nav-height));
    text-align: center;
    position:relative;
    overflow:hidden;
    align-items: center;
    width: 100%;
    /* background-color: #f9f9f9; */

    .hero-content {
        color: var(--primary-color);
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 2;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        gap: 4px;
        text-align: center;
        color: #fff;
        padding-top: 130px;

        h1{
            font-family: var(--heading-font);
            font-size: 74px;
            margin-bottom: 20px;
        }

        p {
            font-family: var(--alternative-font);
            font-size: 28px;
        }
    }

    .hero-image {
        position:absolute;
        z-index: 1;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

}

/* .Mission {
     display: flex;
     flex-direction: column;
     margin-top: 100px;
     gap: 50px;

     .missionHeading{
        display: flex;

        gap:1px; 

        .h2{
        font-family: var(--heading-font);
        font-size: 60px;
        font-weight: 500;
     }
     }

     .p {
        display: flex;
        justify-content: center;
        font-family: var(--alternative-font);
        font-size: 24px;
     }
} */

.Services-preview {

    margin-top: 10px;
    padding-top: 50px;
    background-color: #f9f9f9c8;
    margin-bottom: 20px;
    text-align: center;

    .heading {
        font-size: 30px;
        font-weight: 500;
        font-family: var(--heading-font);
        margin-bottom: 30px;
    }

    .ServiceCategoryBoxes {
        display: grid;
        row-gap: 40px;
        column-gap: 70px;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        justify-items: center;
        /* grid-template-rows: 1fr 1fr; */
        padding: 40px;
        /* max-width: 1200px; */
        margin: 0 auto;
        

        .box {
            /* flex: 1; */
            width: 300px;
            height: 380px;               
            overflow: hidden;            
            border-radius: 12px;
            box-shadow: 0px 15px 15px 0 rgba(208, 5, 171, 0.3);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;           
                display: block;    
            }
        }

    }

    .ServiceCategoryBoxes2 {
          display: grid;
        row-gap: 40px;
        column-gap: 70px;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        justify-items: center;
        /* grid-template-rows: 1fr 1fr; */
        padding: 40px;
        /* max-width: 1200px; */
        margin: 0 auto;
 
        .box {
            /* flex: 1; */
            width: 300px;
            height: 380px;               
            overflow: hidden;            
            border-radius: 12px;
            box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, 0.3);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;           
                display: block;    
            }
        }

    }
}

.box:hover {
                transform: scale(1.3);
                transition: 2s;
            }