@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Space Grotesk', sans-serif;
    --alternative-font: 'Manrope', serif; /*400 for p, 600 navbar, 500 for h2*/
    --nav-height: 65px; 
    --primary-color: #DF5B2E;
   --shadow-color: rgba(45, 35, 30, 0.15);
}

body {
    background-color: #fcfcfc;
    /* overflow: hidden; */
}

/* NAVBAR STYLE */
nav{
    /* background-color: #ffffff; */
    font-family: var(--alternative-font);
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    height: 75px;
   
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fcfcfc;
    z-index: 100;
    


    .logo{
        height: 100%;
        display: flex;
        align-items: center; 
    }
    
    .logo svg{
        height: 30px; 
        width: auto;
        } 

    ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li a {
            font-size: 18px;
            color: black;
            cursor: pointer;
            text-decoration: none;
            /* active state styling */
            position: relative;
            z-index: 1;
            transition: color 0.3s ease;
            
            /* change color to orange when active */
            &.active {
                color: var(--primary-color) !important;

                &::before {
                    content: "";
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    width: 160%; 
                    height: 180%; 
                    transform: translate(-25%, -50%) scale(0);
                    z-index: -1;
                    pointer-events: none;

                    
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='60' viewBox='0 0 200 60'%3E%3Cstyle%3E.d%7Bfill:%23DF5B2E;opacity:0.7%7D%3C/style%3E%3Cg class='d'%3E%3Ccircle cx='100' cy='30' r='2'/%3E%3Ccircle cx='95' cy='28' r='1.5'/%3E%3Ccircle cx='105' cy='32' r='1.8'/%3E%3Ccircle cx='90' cy='32' r='1.2'/%3E%3Ccircle cx='110' cy='26' r='1.5'/%3E%3Ccircle cx='85' cy='27' r='1'/%3E%3Ccircle cx='115' cy='33' r='1.3'/%3E%3Ccircle cx='100' cy='22' r='1.6'/%3E%3Ccircle cx='98' cy='38' r='1.4'/%3E%3Ccircle cx='75' cy='30' r='0.8'/%3E%3Ccircle cx='125' cy='29' r='0.9'/%3E%3Ccircle cx='108' cy='40' r='1.1'/%3E%3Ccircle cx='92' cy='18' r='1'/%3E%3Ccircle cx='135' cy='31' r='0.7'/%3E%3Ccircle cx='65' cy='28' r='0.6'/%3E%3Ccircle cx='145' cy='34' r='0.5'/%3E%3Ccircle cx='55' cy='32' r='0.5'/%3E%3Ccircle cx='120' cy='20' r='0.8'/%3E%3Ccircle cx='80' cy='42' r='0.7'/%3E%3Ccircle cx='102' cy='14' r='0.9'/%3E%3Ccircle cx='114' cy='44' r='0.8'/%3E%3Ccircle cx='88' cy='44' r='0.6'/%3E%3Ccircle cx='130' cy='18' r='0.5'/%3E%3Ccircle cx='70' cy='40' r='0.5'/%3E%3C/g%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    animation: popIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
                }
        }
    }
    }

    button {
        /* background: #DF5B2E; */
        background: var(--primary-color);
        color: #fff; 
        padding: 12px 24px;
        border-radius: 15px;
        font-family: var(--alternative-font);
        font-size: 15px;
        font-weight: 400;
        /* border: 1px solid var(--primary-color); */
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover, &:focus {
            box-shadow: 0 0.5em 0.5em -0.4em var(--shadow-color);
            transform: translateY(-0.25em);
        }

        &:active {
            transform: scale(0.96);
        }

    }

}

@keyframes popIn {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

/* HERO SECTION STYLE */
.hero {
    display: flex;
    height: calc(100vh - var(--nav-height));
    text-align: center;
    position:relative;
    overflow:hidden;
    align-items: center;
    width: 100%;
    /* background-color: #f9f9f9; */

    .hero-content {
        color: var(--primary-color);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        gap: 4px;
        text-align: center;
        color: #fff;
        padding-top: 130px;

        h1{
            font-family: var(--heading-font);
            font-size: 74px;
            margin-bottom: 20px;
        }

        p {
            font-family: var(--alternative-font);
            font-size: 28px;
        }
    }

    .hero-image {
        position:absolute;
        z-index: 1;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

}

/* STYLING MISSION SECTION */
.Mission {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    justify-content: center;

    .content {
        font-family: var(--alternative-font);
        color: #000;
        width: 70%;
        
        .eyebrow {
            text-align: center;
            margin-bottom: 25px;
            color: var(--primary-color);
            font-weight: 600;
        }

        .heading {
            font-family: var(--heading-font);
            font-size: 20px;
            text-align: center;
            line-height: 1.6;

            h2{
                span.highlight{
                    color: #000;            
                    background-color: transparent; 
                    background-image: linear-gradient(to top, #DF5B2E 60%, transparent 20%);
                    /* border-radius: 9999px;  */
                    display: inline;
                    padding: 0 2px;

                }
            }
        }
        
    }
}

/* STYLING SERVICE CATEGORY SECTION */
.serviceCategories {
    width: 100%;
    /* min-height: 100vh; */
    height: 100%;
    background-color: #fcfcfc; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 4rem 2rem;
    margin-top: 10px;

    .service-blob {
        position: absolute;
        border-radius: 50%;
        filter: blur(100px); 
        opacity: 0.15;        
        z-index: 1;          
        pointer-events: none;
    }

    .blob-right {
        width: 500px;
        height: 500px;
        background-color: #E58B38; 
        right: -200px;             
        top: 5%;
    }

    .comingSoon {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        font-family: var(--alternative-font);
        font-size: 18px;
        font-weight: 600;
        padding: 15px 0px;
        color: #fff;
        overflow: hidden; 
        display: flex;
        z-index: 2;

        .marquee {
            display: flex;
            flex-wrap: nowrap;
            width: max-content;
            gap: 0px;
        
        .marquee-slide {
            display: flex;
            align-items: center;
            justify-content: space-around;
            white-space: nowrap; 
            animation: slide-show 14s linear infinite; 
            padding-right: 12px;
        
        span {
            padding: 0 5px; 
        }
    }}
}
        



    .service-container {
        position: relative;
        width: 100%;
        max-width: 1100px;
        height: 900px; /* Provides a clear workspace boundaries for placement */
        display: flex;
        align-items: center;
        justify-content: center;

        .services-content {
            text-align: center;
            z-index: 10;
            max-width: 600px;
/* 
            .service-eyebrow {
                font-family: sans-serif;
                font-size: 0.75rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 700;
                color: #000000;
                margin-bottom: 1.5rem;
            } */

            .services-heading {
                font-family: var(--heading-font); 
                font-size: 4rem;
                font-weight: 800;
                line-height: 1.05;
                color: #000000;
                margin-bottom: 2rem;
                letter-spacing: -0.02em;

                .italic-text {
                   font-family: var(--alternative-font);
                   font-style: italic;
                   font-weight: 400;
                   color: var(--primary-color);
                }
            }

            .join-waitlist-link {
                font-family: serif;
                font-style: italic;
                font-size: 1.1rem;
                color: #000000;
                text-decoration: none;
                border-bottom: 1px solid var(--primary-color);
                padding-bottom: 2px;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                transition: opacity 0.2s ease;
                
                &:hover {
                    /* opacity: 0.7; */
                    color: var(--primary-color);
                }
            }
        }
    }

    .image-wrapper {
        position: absolute;
        /* overflow: hidden; */
        border-radius: 20px; 
        background-color: #fcfcfc;
        cursor: pointer;

        transform-style: preserve-3d;
        transition: transform ease-in-out 400ms;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
        &:hover {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; /* Safari support */
    }

    /* Front side STYLING */
    .card-front {
        object-fit: cover;
        display: block;
        background-color: #fcfcfc;
    }

    /* Back side STYLING*/
    .card-back {
        color: #fff;
        font-family: var(--alternative-font);
        font-weight: 600;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #FFF5EB;
        background: linear-gradient(45deg,rgba(255, 245, 235, 1) 0%, rgba(250, 156, 66, 1) 25%, rgba(226, 88, 34, 1) 60%, rgba(58, 35, 26, 1) 100%);        transform: rotateY(180deg); 

        &.top-left {
            background: #FFF5EB;
            background: linear-gradient(135deg,rgba(255, 245, 235, 1) 0%, rgba(250, 156, 66, 1) 25%, rgba(226, 88, 34, 1) 60%, rgba(58, 35, 26, 1) 100%);
        }

       

        &.top-right{
            background: #FFF5EB;
            background: linear-gradient(225deg,rgba(255, 245, 235, 1) 0%, rgba(250, 156, 66, 1) 25%, rgba(226, 88, 34, 1) 60%, rgba(58, 35, 26, 1) 100%);
        }

        &.bottom-center {
            background: #FFF5EB;
            background: linear-gradient(360deg,rgba(255, 245, 235, 1) 0%, rgba(250, 156, 66, 1) 25%, rgba(226, 88, 34, 1) 60%, rgba(58, 35, 26, 1) 100%);
        }

        &.bottom-right {
            background: #FFF5EB;
            background: linear-gradient(315deg,rgba(255, 245, 235, 1) 0%, rgba(250, 156, 66, 1) 25%, rgba(226, 88, 34, 1) 60%, rgba(58, 35, 26, 1) 100%);
        }
    }

        p {
            font-size: 25px;
        }
    }     
    

    .img-top-left {
        width: 220px;
        height: 220px;
        top: 10%;
        left: 6%;
    }

    .img-top-right {
        width: 210px;
        height: 210px;
        top: 12%;
        right: 12%;
    }
    
    .img-mid-left {
        width: 230px;
        height: 230px;
        bottom: 23%;
        left: 10%;
    }
    
    .img-bottom-center {
        width: 210px;
        height: 220px;
        bottom: 3%;
        left: 45%;
  
    }
    
    .img-bottom-right {
        width: 270px;
        height: 270px;
        bottom: 18%;
        right: 4%;
    }
}




@keyframes slide-show {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* FAQ STYLING */
.faq-section {
    width: 100%;
    padding: 5rem 2rem;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    font-family: var(--alternative-font);
    position: relative;
    overflow: hidden;
    z-index: 1;

    .flowerSVG{
        position: absolute;
        right: -2%;
        bottom: -18%;
    }

    .faq-blob {
        position: absolute;
        border-radius: 50%;
        filter: blur(100px); 
        opacity: 0.15;        
        z-index: 1;          
        pointer-events: none;
    }

    .blob-left {
        width: 470px;
        height: 400px;
        background-color: #E58B38; 
        left: -150px;              
        top: 10%;              
    }

    

    .faq-container {

        width: 100%;
        max-width: 750px;
        position:relative;
        z-index: 2;

        .faq-header {
            text-align: center;
            margin-bottom: 3rem;

            .faq-heading {
                font-size: 2.5rem;
                font-weight: 700;
                color: #1a202c;
                line-height: 1.2;
                font-family: var(--heading-font);

                span {
                    color: var(--primary-color);
                }
            }
        }

        .faq-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .faq-item {
                background-color: #F5F5F5;
                border-radius: 24px;
                overflow: hidden;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
            }

            .faq-item[open] {
                background-color: #ffffff;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
                border: 1px solid var(--primary-color);
            }
        }
    }
}


.faq-trigger::-webkit-details-marker,
.faq-trigger::marker {
    display: none;
}

.faq-trigger {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    cursor: pointer;
    user-select: none;
    
    .faq-question {
        font-weight: 600;
        font-size: 1.05rem;
        color: #1a202c;
    }
    
    .faq-icon {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
        transition: transform 0.2s ease;
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: #1a202c;
            transition: transform 0.2s ease;
        }
        
        &::before {
            width: 12px;
            height: 2px;
        }
        
        &::after {
            width: 2px;
            height: 12px;
        }
    }
}


.faq-item[open] .faq-icon {
    background-color: var(--primary-color); 
}

.faq-item[open] .faq-icon::after {
    transform: rotate(90deg);
    opacity: 0; /* Smooth fading step creates the clean 'x' switch */
}

.faq-item[open] .faq-icon::before {
    transform: rotate(45deg);
}


.faq-content {
    padding: 0 2rem 1.75rem 2rem;
    color: #4a5568;
    font-size: 0.95rem;
    line-height: 1.6;

    p {
       margin: 0;
   }
}


/* Footer Styling*/
.site-footer {
    width: 100%;
    background-color: #1D0D02; 
    padding: 2rem 0;
    
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 2rem ; 
        display: flex;
        justify-content:space-between;
        align-items: center;
        
        font-family: var(--alternative-font);

        .footer-copyright p{

            color: #cccccc;
            font-size: 18px;
            text-decoration: none;
        }
        
        .footer-copyright p {
            margin: 0;
        }
        
        
        .social-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color:#fff;  
            font-size: 18px; 
            
            a {
               color: white; 
               text-decoration: none;
               display: flex; 

               svg{
                  width: 23px; 
                  height: 23px; 
                  fill: var(--primary-color);
                  transition: fill 0.3s ease;
               }
            }
        }
    }
}


.social-links a:hover svg {
    path {
        fill: #DF5B2E; 
        transition: fill 0.3s ease;
    }
}



/* Mobile Responsiveness Footer */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column-reverse; 
        gap: 1.5rem;
        text-align: center;
    }
    
    .footer-links {
        flex-direction: column;
        gap: 1rem;
    }
}

