
/* Addition of custom fonts using @font-face */
@font-face {
    font-family: 'Manrope';
    src: url('src/assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('src/assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

/* background: linear-gradient(90deg, #E87E44 0%, #DF5B2E 100%); */ 
:root {
    --nav-height: 75px; /* Define a CSS variable for the navigation height */
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
}

body{
    background-color: #F7EFE6;
    margin: 0; /* Removes default margin around the body to ensure the background color covers the entire viewport */
    min-height: 100vh;
    display: flex; 
    flex-direction: column;;
}

nav{
    background-color: #f9f9f9;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height); 
    margin-bottom: 50px;
}

.logo{
    height: 200px; 
}

.logo svg{
    height: 100%; 
    width: 100px; /*prevents distortion of the logo image*/
} 

.cta-button button{
    background: #DF5B2E;
    color: #FFFFFF; 
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    text-decoration: none; /* Ensures the button looks like a button and not a link */
}

/* Remeber to style navigation links */

.hero {
    text-align: left;
    position: relative; /* Allows the hero image to be positioned absolutely within this section */
    padding: 0px 100px;
    overflow:hidden;
    height: calc(100vh - var(--nav-height)); /* Ensures the hero section takes up the remaining viewport height */
    align-items: center;
}

.hero-content {
    z-index: 10;
    position: relative;
}

.hero-highlight1 {
    color:#DF5B2E
}

.hero-highlight2 {
    color:#DF5B2E
}


.hero-content h1 {
    font-size: 65px;
    color: black;
    line-height: 1.15;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 22px;
    color: black;
    line-height: 1.5;
    margin-bottom: 0px;
}


.hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.hero-image img {
    width: 100%;
    height: 45vw;
    display: block; 
    object-fit: cover; /* Ensures the image covers the container without distortion */
    object-position: top;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
}

.mission-section {
    text-align : center;
    margin: 0 auto; /* Centers the mission section and adds vertical spacing */
    color: black;
    padding: 60px 5%;
    margin-top: 70px;
    /*background: linear-gradient(90deg, #DF5B2E 0%, #793119  100%);*/
}

.section-label {
    font-size: 18px;
    color: #595959;
    font-weight: bold;
    margin-bottom: 50px;
}

.mission-section h3 {
    font-size: 42px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mission-section p {
    font-size: 18px; 
    width: 100%; 
    margin: 0 auto; 
    line-height: 1.6; /* Improves readability by increasing line spacing */
    max-width: 1100px;;
}

.mission-description {
    color: #1d1d1b;
}

.highlight1 {
    color: #df5b2e; 
}

.highlight2 {
    color: #df5b2e;
}

.main-content {
    flex: 1;
}



.uvp-header {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}

.uvp-header h2 {
    font-size: 65px;
    color: black;
    margin-bottom: 10px;
}

.uvp-header p {
    font-size: 22px;
    color: black;
    margin-bottom: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.3s ease-in-out;

    &:hover{
        transform: scale(1.2);
    }
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
    color: #DF5B2E
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    font-size: 15px;
    color: black;
    line-height: 1.3;
}

.main-footer {
    background-color: #1D0D02;
    color: #FFFFFF;
    padding: 60px 100px 30px;
}

.footer-top {
    margin-bottom: 40px;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom:20px;
}

.contact-header h3 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: normal;
}

/*.arrow-circle {
    width: 45px;
    height: 45px;
    background-color: #DF5B2E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color:#FFFFFF;
}*/

.social-links {
    display: flex;
    align-items: center;
    gap: 15px;  
}

.social-links a {
    color: white; 
    text-decoration: none;
    font-size: 23px;
    display: flex; /* Helps align the SVG perfectly */
}

.social-links svg{
    width: 23px; 
    height: 23px; 
    fill: white;
    transition: fill 0.3s ease;
}

.social-links a:hover {
    color: #DF5B2E; 
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333333;
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
}